/* TO DO 
    - fix nav
    - fix send button
    - add in treatments menu (HTML)
*/



/*website styling*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;
}   

html, body{
    color: #2b392a;
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}



/*navigation bar*/
nav{
    display: inline;
    position: fixed;
    z-index: 1;
    background-color: #EEEEEE;
    padding: 20px;
    width: 100%;
    top: 0px;
}



/*left side navigation*/
.main-nav{
    list-style: none;
}



/*cloud9*/
.cloud9{
    text-align: center;
}



/*right side navigation*/
.right-nav{
    float: right;
}



/*nav buttons*/
.nav-button {
    padding: 10px;
    border: none;
    background: none;
    font-weight: 100;
}
  
.nav-button span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    text-transform: uppercase;
    color: #2b392a;
}
  
.nav-button svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}
  
.nav-button:hover svg {
    transform: translateX(0);
}
  
.nav-button:active svg {
    transform: scale(0.9);
}
  
.hover-underline-animation {
    position: relative;
    color: #2b392a;
    padding-bottom: 20px;
}
  
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2b392a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.nav-button:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/*main website image*/
.banner{
    position: relative;
    text-align: center;
}

.banner-image{
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}



/*limited edition offer*/
.promo-banner{
    background-color: #B7B78A;
    padding: 60px;
    text-align: center;
}

.promo-banner p{
    padding: 10px;
}



/*info section for facials and treatments*/
.facial-section{
    padding: 300px 0 300px 0;
    display: inline-block;
}

.facial img{
    padding: 50px;
    float: left;
    height: 550px;
    width: auto;
}

.facial-info p{
    padding: 200px;
}


/*wellness retreats banner*/
.middle-block{
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.mblock-image{
    filter: blur(3px);
}

.mblock-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    width: 100%;
}

.mblock-title h3{
    padding: 15px;
    text-transform: uppercase;
}


/*sign up section*/
.sign-up{
    padding: 350px;
    text-align: center;
}

.sign-up h3{
    padding: 10px;
    font-size: 3em;
}

.sign-up p{
    padding: 20px;
    font-size: 1.5em;
}


/*email box*/
.input {
    color: #2b392a;
    font-size: 1em;
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}
  
.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}
  
.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    border: 2px solid #658864;
}


  
/*sign up button*/
.button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
  
.button:hover {
    background-color: #DDDDDD;
}
  
.button:focus {
    outline: 2px solid rgba(0,0,0,0.1);
    outline-offset: 2px;
}
  
.button:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.send-icon{
    outline: none;
}


/*footer*/
footer {
    padding: 100px;
    background-color: #658864;
    color: #EEEEEE;
}

/* add in for smaller screens
@media (max-width: 480px){
 */

